<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">

    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gren Packages">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:image" content="/external.png">
    <meta property="og:image:alt" content="Gren logo">
    <meta property="og:image:secure_url" content="/external.png">

<%_ if(description) { -%>
    <meta name="description" content="<%= description %>">
    <meta property="og:description" content="<%= description %>">
<%_ } else { -%>
    <meta name="description" content="A place to discover and learn Gren packages">
    <meta property="og:description" content="A place to discover and learn Gren packages">
<%_ } -%>
    
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="alternate" type="application/rss+xml" title="Gren Packages" href="/feed/rss" />

<%_ if(refresh) { -%>
    <meta http-equiv="refresh" content="<%- refresh %>" />
<%_ } -%>
</head>
<body>
    <main>
        <header>
            <nav class="container">
                <a href="/" title="Gren Package Search">
                    <img src="/big_icon.png" alt="Robin, the Gren mascot">
                </a>
                <%- include('/header_side_button.ejs', { sideButtonType }) %>
            </nav>
        </header>
        <section class="container content">
