<%- include('/header.ejs', { title: 'Search', description: null, sideButtonType: 'NONE' }) -%>

    <form class="inline_form" action="/package/search" method="get">
        <input
            id="query"
            name="query"
            type="search"
            list="terse_search_results"
            placeholder="Search for package"
            value="<%= query %>"
            hx-get="/package/search/terse"
            hx-trigger="keyup changed throttle:300ms"
            hx-target="#terse_search_results"
            hx-swap="outerHTML"
        />
        
        <button type="submit">Search</button>
    </form>

    <%- include('/package_datalist.ejs', { results: [] }) -%>

    <h3>Results for '<%= query %>'</h3>

    <%- include('/package_list.ejs', { packages: results }) -%>
<%- include('/footer.ejs') -%>
