<%- include('/header.ejs', { refresh: false }) -%>
    <section id="module-docs">
        <h1><%= moduleName %></h1>

        <%_ moduleDocs.forEach(function(block) { -%>
        <%_ if (block.constructor.name === 'Alias') { -%>
          <h2>type alias <%= block.name %> <%= block.args %> =</h2>
          <%= block.type %>
          <%- block.comment %>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Union') { -%>
          <h2>type <%= block.name %> <%= block.args %></h2>
          <%- block.comment %>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Binop') { -%>
          <h2><%= block.name %> : <%= block.type -%></h2>
          <%- block.comment %>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Value') { -%>
          <h2><%= block.name %> : <%= block.type %></h2>
          <%- block.comment %>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Markdown') { -%>
          <%- block.html %>
        <%_ } -%>
        <%_ }); -%>
    </section>

    <%- include('/package_sidebar.ejs', { exposedModules }) -%>
<%- include('/footer.ejs') -%>
