<%- include('/header.ejs', { title: `${packageNameShort} ${packageVersion} | Packages`, refresh: false, sideButtonType: 'PACKAGE_LINKS' }) -%>
    <section id="module-docs">
        <h1><%= moduleName %></h1>

        <%_ moduleDocs.forEach(function(block) { -%>
        <%_ if (block.constructor.name === 'Alias') { -%>
        <div id="<%= block.name %>" class="block alias anchor">
            <span class="definition">
                type alias <a href="#<%= block.name %>"><%= block.name %></a> <%= block.args.join(" ") %> =
                <div class="indented"><%= block.type %></div>
            </span>
            <span class="comment">
                <%- block.comment %>
            </span>
        </div>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Union') { -%>
        <div id="<%= block.name %>" class="block union anchor">
            <span class="definition">
                type <a href="#<%= block.name %>"><%= block.name %></a>
                <%_ block.cases.forEach(function(c, idx) { -%>
                <div class="indented"><%= idx === 0 ? '=' : '|' %> <%= c -%></div>
                <%_ }) -%>
            </span>
            <span class="comment">
                <%- block.comment %>
            </span>
        </div>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Binop') { -%>
        <div id="<%= block.name %>" class="block binop anchor">
            <span class="definition">
                <a href="#<%= block.name %>">(<%= block.name %>)</a> : <%= block.type %>
            </span>
            <span class="comment">
                <%- block.comment %>
            </span>
        </div>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Value') { -%>
        <div id="<%= block.name %>" class="block value anchor">
            <span class="definition">
                <a href="#<%= block.name %>"><%= block.name %></a> : <%= block.type %>
            </span>
            <span class="comment">
                <%- block.comment %>
            </span>
        </div>
        <%_ } -%>

        <%_ if (block.constructor.name === 'Markdown') { -%>
          <%- block.html %>
        <%_ } -%>
        <%_ }); -%>
    </section>

    <%- include('/package_sidebar.ejs', {}) -%>
<%- include('/footer.ejs') -%>
