<aside id="package-links" class="anchor">
    <h3><%= packageNameShort -%> <small><%= packageVersion -%></small></h3>

    <ul>
        <li><a href="<%= packageOverviewLink %>" title="Overview">
            Overview
        </a></li>
        <li><a href="<%= packageVersionsLink %>" title="Other versions">
            Versions
        </a></li>
        <li><a href="<%= packageSourceLink %>" title="Source">
            Source
        </a></li>
    </ul>

    <%_ for (let [group, modules] of Object.entries(exposedModules)) { -%>
    <h4><%= group === '' ? 'Modules' : group -%></h4>

    <ul>
        <%_ modules.forEach(function(module) { -%>
        <li><a href="<%- module.link %>" title="<%= module.name %>">
            <%= module.name %>
        </a></li>
        <%_ }); -%>
    </ul>
    <%_ } -%>
</ul>
</aside>
