<ul>
    <li><a href="<%= packageOverviewLink %>" title="Overview">
        Overview
    </a></li>
    <%_ for (let [group, modules] of Object.entries(exposedModules)) { -%>
    <li><%= group -%></li>
    <%_ modules.forEach(function(module) { -%>
    <li><a href="<%- module.link %>" title="<%= module.name %>">
        <%= module.name %>
    </a></li>
    <%_ }); -%>
    <%_ } -%>
</ul>
