<%- include('/header.ejs', { refresh: false }) -%>
    <h1><%= moduleName %></h1>

    <%- moduleComment %>

    <%- include('/package_sidebar.ejs', { exposedModules }) -%>
<%- include('/footer.ejs') -%>
