<%- include('/header.ejs', { refresh: false }) -%>
    <h1>Search results for '<%= query %>'</h1>

    <form action="/package/search" "method="post">
        <input id="query" "type="search" name="query" value="<%= query %>" />
        <button type="submit">Search</button>
    </form>

    <ul>
        <%_ results.forEach(function(result) { -%>
        <li><%- result.name %>: <%= result.summary %></li>
        <%_ }); -%>
    </ul>
<%- include('/footer.ejs') -%>
