<%- include('/header.ejs', { refresh: 5 }) -%>
    <h1>Package import jobs</h1>

    <table>
        <tr>
            <th>Active</th>
            <th>Name</th>
            <th>Version</th>
            <th>Step</th>
            <th>Retried</th>
            <th>Message</th>
        </tr>
        <%_ jobs.forEach(function(job) { -%>
        <tr>
            <td><%= job.in_progress !== 0 %></td>
            <td><%= job.name %></td>
            <td><%= job.version %></td>
            <td><%= job.step %></td>
            <td><%= job.retry %></td>
            <td><%= job.message %></td>
        </tr>
        <%_ }); -%>
    </table>
<%- include('/footer.ejs') -%>
